html {
  background-color: #faf4ff;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.content-wrp {
  padding: 0 10%;
}

.footer {
  padding: 2% 0;
  text-align: center;
}

.notifications {
  bottom: 2%;
  position: fixed;
  right: 2%;
}

.notification {
  align-items: center;
  color: white;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  margin: 5px;
  padding: 20px;
  
  /* toggle display:none to show/hide notifications */
  /* display: none; */
}

.notify-msg {
  margin-left: 5px;
  font-size: .8rem;
}

.notify-title {
  display: block;
  font-weight: bold;
}

.danger {
  background-color: rgba(255, 0, 0, .7);
}

.success {
  background-color: rgba(0, 180, 60, .7);
}

.warning {
  background-color: rgba(250, 150, 0, 0.7);
}